@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Models</h1>

    <form id="form1" method="post" action="/Admin/CreateModel">
        <div>
            <label for="Name">Name</label>
            <input name="Name" type="text" required />
        </div>
        <div>
            <label for="Abrv">Abrv</label>
            <input name="Abrv" type="text" required />
        </div>
        <div>
            <select name="MakeId">
                @foreach (var make in ViewBag.make.Data)
                {
                    <option value=@make.Id>@make.Name</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>

    <form id="formSearch" method="post" action="/Admin/Model">
        <div>
            <label for="Name">Search name:</label>
            <input name="Name" type="text" />
            <select name="Order">
                <option value="asc">A to Z</option>
                <option value="desc">Z to A</option>
            </select>
            <select name="MakeId">
                <option value=0>All</option>
                @foreach (var make in ViewBag.make.Data)
                {
                    <option value=@make.Id>@make.Name</option>
                }
            </select>

            <input type="submit" value="Search" />
        </div>
     </form>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Abrv</th>
                <th>Manufactirer</th>
                <th>Actions</th>
            </tr>
            @foreach (var m in ViewBag.model.Data)
            {
                <tr>
                    <td>
                        @m.Name
                    </td>
                    <td>
                        @m.Abrv
                    </td>
                    <td>
                        @m.Make.Name
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="EditModel" asp-route-id="@m.Id">Edit</a>
                        <a asp-controller="Admin" asp-action="DeleteModel" asp-route-id="@m.Id">Delete</a>
                    <td>
                </tr>
            }
        </table>

</div>

